/* .output {
  border: solid 1px #dadbe0;
  background-color: #fffeff;
} */
body {
  height: 100vh;
}

.row button {
  background-color: #f1f3f3;
  width: 5rem;
  height: 2rem;
}

.row button:hover {
  cursor: pointer;
  filter: brightness(90%);
}