div {
  padding: 0 1rem;
}

.container {
  padding: 1rem;
  display: grid;
  grid-template-areas: 
      "header header header"
      "sidebar nav nav"
      "sidebar article article"
      "footer footer footer";
  height: 100vh;
  grid-gap: 1rem;
  grid-template-columns: 1fr 1fr 1fr;
  color: white;
  font-family: sans-serif;
  font-weight: bold;
}
.container h1 {
  text-align: center;
}
.container p {
  font-size: 1.05rem;
}

.header {
  background-color: #285f57;
  grid-area: header;
  border-radius: 1rem;
}

.sidebar {
  background-color: #255990;
  grid-area: sidebar;
  border-radius: 1rem;
}

.nav {
  background-color: #5d2fd5;
  grid-area: nav;
  border-radius: 1rem;
}

.article {
  background-color: #7425bc;
  grid-area: article;
  border-radius: 1rem;
}

.footer {
  background-color: #3a3f4c;
  grid-area: footer;
  border-radius: 1rem;
}

@media only screen and (max-width: 550px) {
  .container {
      grid-template-columns: 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-areas: 
          "header"
          "nav"
          "article"
          "sidebar"
          "footer";
  }
}

